body {
    background-color: rgb(12, 101, 104);
    
}

.btn btn-primary {
    background-color: blueviolet;
}

div {
    background-color: rgb(12, 101, 104);
}

.card-body {
    color: rgb(0, 5, 7);
}
.card-header {
    background-color: rgb(12,101,104);
}
.footer {
    height: 50px;
    width: 50px;

}